.DS_Store
xcuserdata/
DerivedData/
SourcePackages/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
build/
dist/
node_modules/
buildServer.json
*.ipa
*.dSYM.zip
*.dSYM

# Coverage artifacts
*.profraw
